<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652794206049-is1aifomi6u1rv0tojntj0gjlnrgei3b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652794206049-is1aifomi6u1rv0tojntj0gjlnrgei3b</string>
	<key>API_KEY</key>
	<string>AIzaSyB7WF-OEWeiFnVd5P6Z2xHlsGGSFUVr1Cc</string>
	<key>GCM_SENDER_ID</key>
	<string>652794206049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agenda</string>
	<key>PROJECT_ID</key>
	<string>agenda-411f7</string>
	<key>STORAGE_BUCKET</key>
	<string>agenda-411f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652794206049:ios:3d2dfb1dbd477f5b8d1720</string>
</dict>
</plist>